* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DynaPuff', cursive;
}


header nav li{
    display: inline;
    color: #fff;
}

header h1 {
    font-family: 'DynaPuff', cursive;
}

header nav li a {
    color: #fff;
    text-decoration: none;
    margin-left: 12px;
    font-weight: bold;
    font-size: 20px;
}

nav li a:hover {
    text-decoration: underline;
}

header .container {
    display: flex;
    padding: 14px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.faixa {
    background-color: red;
}


.carousel-iyem {
    height: 720px;
}


.card {
    max-width: 300px;
    margin: 0px auto 50px;
    margin-top: 48px;
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: bolder;
}