* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel {
    max-width: 1280px;
}


.card {
    max-width: 300px;
    margin: 0px auto 50px;
    margin-top: 48px;
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: bolder;
}